:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtl-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --white-background: #ffffff;
  --modal-background: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
body {
  font-family: 'Roboto', sans-serif;
  color: #434455;
  background-color: #ffffff;
}

img {
  display: block;
}

.container {
  width: 100%;
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
/* header */
.link {
  text-decoration: none;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
}
.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
}

.logo-part-header {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  padding: 24px 0;
}

.nav-link:hover,
.nav-link:focus,
.nav-link:active {
  color: #404bbf;
}

.header-contacts {
  font-style: normal;
  margin-left: auto;
}

.contacts-list {
  display: flex;
  gap: 40px;
}

.contacts-item {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-decoration: none;
}

.contacts-item:hover,
.contacts-item:focus {
  color: var(--pressed-state);
}

/* main */
/* hero */
.hero {
  background-color: var(--dark);
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  text-align: center;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white-background);
  max-width: 496px;
  margin: 0 auto 48px;
}

.hero-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primary-brand);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white-background);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  min-width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  display: block;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--pressed-state);
}

/* our qualities */
.qualities {
  padding: 120px 0;
}
.qualities-list {
  display: flex;
  gap: 24px;
}
.qualities-item {
  min-width: 264px;
}
.qualities-title {
  margin-bottom: 8px;
}
.list-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}

/* What are we doing */
.our-work {
  padding-bottom: 120px;
}
.work-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.work-list {
  display: flex;
  gap: 24px;
}
/* our team */

.our-team {
  background-color: var(--light);
  padding: 120px 0;
}

.team-title {
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  margin-bottom: 72px;
}
.team-list {
  display: flex;
  gap: 24px;
}
.team-card {
  background: var(--white-background);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.card-container {
  padding: 32px 16px;
}
.teamcard-title {
  text-align: center;
  margin-bottom: 8px;
}
.teamcard-text {
  text-align: center;
}
/* footer */
.footer {
  background-color: var(--dark);
  padding: 100px 0;
}
.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-brand);
  margin-right: 76px;
  display: inline-block;
  margin-bottom: 16px;
}
.logo-part-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--light);
  width: 264px;
  height: 72px;
}

/* portfolo page */

.portfolio-container {
  padding-top: 96px;
  padding-bottom: 120px;
}

.btn-list {
  display: flex;
  gap: 24px;
  margin-bottom: 72px;
  justify-content: center;
}

.filter-btn {
  font-family: 'Roboto', sans-serif;
  background-color: var(--light);
  border: 1px solid var(--modal-background);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  cursor: pointer;
  padding: 12px 24px;
  border-radius: 4px;
}

.filter-btn:focus,
.filter-btn:hover {
  background-color: var(--pressed-state);
  color: var(--white-background);
}

.portfolio-list {
  display: flex;
  row-gap: 48px;
  column-gap: 24px;
  flex-wrap: wrap;
}
.portfolio-card {
  max-width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
  background: #ffffff;
  overflow: hidden;
}

.card-title {
  text-align: start;
  margin: 32px 0 8px 16px;
}

.card-text {
  text-align: start;
  margin-left: 16px;
  margin-bottom: 32px;
}
